post:               <%= @post.content %><br />
post.id:            <%= @post.id %><br />
post.to_param:      <%= @post.to_param %><br />
post_path:          <%= post_path @post %>.

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      comment:            <%= comment.content %><br />
      comment.id:         <%= comment.id %><br />
      comment.to_param:   <%= comment.to_param %><br />
      comment_path:       <%= comment_path comment %>.
      <%= form_for(comment) do |f| %>
        <li>
          <div class="field">
            <%= f.label :content %>
            <%= f.text_field :content %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
        </li>
      <% end %>
</ul>

<%= link_to 'Edit Post', edit_post_path(@post) %> |

<%= form_for @post.comments.new do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
