post:         <%= @post.content %><br />
post.id:      <%= @post.id %><br />
post_path:    <%= post_path @post %>.

<ul>
<% @post.comments.each do |comment| %>
  <li>
    comment:      <%= comment.content %><br />
    comment.id:   <%= comment.id %><br />
    comment_path: <%= comment_path comment %>.
  </li>
<% end %>
</ul>

<%= form_for @post.comments.new do |f| %>
  <%= f.hidden_field :post_id %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
